public
resources/_gen
builds

Thumbs.db
.DS_Store

.dist
.tmp
.env

.hugo_build.lock
.sass-cache

npm-debug.log
node_modules
package-lock.json
yarn.lock
public
.history

static/output.css
ensign/.Rhistory