{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="max-w-7xl mx-auto my-8 px-4">
    <h2 class="text-2xl md:text-4xl font-bold mb-6">Welcome to our Data Playground!</h2>
    <p class="text-lg md:text-xl mb-6">Our Data Playground is a safe space to explore, experiment, and collaborate.
        We've curated a variety of data sources, examples, and sample code to help get you started.</p>
    <p class="text-lg md:text-xl mb-6">Like all playgrounds, we have a few rules:</p>
    <ul class="text-lg mb-8 md:text-xl">
        <li class="pb-2">1. <span class="font-bold">Experiment:</span> Have fun experimenting. Don't worry, <span
                class="font-bold text-[#1D65A6]">you won't break anything.</span></li>
        <li class="pb-2">2. <span class="font-bold">Collaborate:</span> Make friends. Set up new projects with them.
            We're all in this together.</li>
        <li>3. <span class="font-bold">Share:</span> Excited about something you've built? Let us know and we'll
            showcase it!</li>
    </ul>

    <div class="md:flex md:justify-between">
        {{ if .Params.is_search_enabled}}
        {{ partial "search.html" .}}
        {{ end }}

        {{ if .Params.is_filter_enabled}}
        {{ partial "filter.html" .}}
        {{ end }}
    </div>

    {{ partial "search-suggestions.html" .}}
    
    {{ partial "search-results.html" .}}

    <div id="all-license" class="mt-4">
        {{ partial "playground/all.html" . }}
    </div>

    <div id="free-license" class="hidden mt-4">
        {{ partial "playground/free.html" . }}
    </div>
    <div id="non-commercial-license" class="hidden mt-4">
        {{ partial "playground/non-commercial.html" . }}
    </div>
    <div id="commercial-license" class="hidden mt-4">
        {{ partial "playground/commercial.html" . }}
    </div>

    <div id="no-license-results" class="hidden mt-4">
        <p class="text-center mt-10">No results found for the selected license type.</p>
    </div>

</section>
{{ end }}