{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="max-w-7xl mx-auto my-8 px-4">
    <p class="text-lg md:text-xl mb-6"> Enjoy this curated playground with a variety of data sources, asynchronous data science use cases, and sample code to help get you started. Generate a time-series dataset for analytics and modeling using <a href="https://rotational.io/ensign/" class="text-[#1D65A6] font-bold underline">Ensign</a>.</p>

    <div class="md:flex md:justify-between">
        {{ if .Params.is_search_enabled}}
        {{ partial "search.html" .}}
        {{ end }}

        {{ if .Params.is_filter_enabled}}
        {{ partial "filter.html" .}}
        {{ end }}
    </div>

    {{ partial "search-suggestions.html" .}}

    {{ partial "search-results.html" .}}

    <div id="all-license" class="mt-4">
        {{ partial "playground/all.html" . }}
    </div>

    <div id="free-license" class="hidden mt-4">
        {{ partial "playground/free.html" . }}
    </div>
    <div id="non-commercial-license" class="hidden mt-4">
        {{ partial "playground/non-commercial.html" . }}
    </div>
    <div id="commercial-license" class="hidden mt-4">
        {{ partial "playground/commercial.html" . }}
    </div>

    <div id="no-license-results" class="hidden mt-4">
        <p class="text-center mt-10">No results found for the selected license type.</p>
    </div>

</section>
{{ end }}

{{ define "appcode" }}
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="{{ `js/dataPlaygroundList.js` | absURL }}"></script>
{{ end }}