{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "header" }}
<div class="relative bg-[#1D65A6]">
    {{ partial "site-nav.html" . }}
</div>
{{ end }}

{{ define "main" }}

<div class="max-w-7xl mx-auto px-4 relative">

    <div class="w-full bg-[#F5F5F5] flex justify-between my-5 place-items-center h-36 px-10">

        <div class="flex flex-col font-bold ">
            <h2 class="text-xl">{{.Params.title}}</h2>
            <h3 class="text-lg">{{.Params.subtitle}}</h3>
        </div>
        <div>
            <button onclick="window.location.href='{{.Params.github_link}}'"
                class="bg-black font-bold px-8 py-4 rounded-lg text-sm text-white  md:text-base flex place-content-center gap-4 hover:bg-neutral-900">
                Get Started
                <img src="img/data-playground/github.png" alt="github icon" height="24" width="24">
            </button>

        </div>

    </div>

    <div class="w-full flex justify-between px-10">

        <div class="w-1/2 ">
            <div class="flex flex-col my-4">
                <p class="text-xl font-bold mb-5">About This Data Source</p>
                <p class="text-base">

                    {{ .Params.description}}
                </p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">Producer</p>
                <p class="text-base">
                    <a class="cursor-pointer underline" href="{{.Params.producer_website}}">
                        {{ .Params.producer_name}}
                </p>
                </a>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">Data</p>
                <p class="text-base">{{ .Params.data }}</p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">Account Required</p>
                <p class="text-base">
                    {{ if eq .Params.account_required "true"
                    }}
                    Yes
                    {{
                    else
                    }}
                    No
                    {{
                    end
                    }}
                </p>
            </div>
            <div class="flex flex-col my-4">
                <div class="flex flex-row gap-2 ">
                    <p class="text-lg font-bold">License</p>
                    <button data-attr="tooltip" id="tooltip">
                        <img src="img/data-playground/tooltip.svg" alt="" width="24" height="24">
                    </button>
                    <div id="tooltip-text" class="hidden bg-neutral-200 text-black text-sm rounded-lg pl-10 p-2 ">
                        <p class="text-xs font-semibold">Warning</p>
                        <p>
                            {{ .Params.license_warning }}}
                        </p>
                    </div>


                </div>
                <p class="text-base"> {{.Params.license}}</p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-xl font-bold">API Key</p>
                <p class="text-base">
                    {{ if eq .Params.api_key "true"
                    }}
                    Yes
                    {{
                    else
                    }}
                    No
                    {{
                    end
                    }}
                </p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">API Type</p>
                <p class="text-base">
                    {{ .Params.api_type }}
                </p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">SDKS</p>
                <p class="text-base">
                    {{ .Params.sdks }}
                </p>
            </div>
            <div class="flex flex-col my-4">
                <p class="text-lg font-bold">Limits</p>
                <p class="text-base">
                    {{ .Params.limits }}
                </p>
            </div>

            <!--     code snippets block -->
            <div>

            </div>

        </div>



    </div>
    <div class="w-full px-10 text-xl font-bold mt-5">
        <h2 class="text-xl">Add data products showcase</h2>
        <article class="prose">
            {{ .Content | safeHTML }}
        </article>
    </div>

    {{ end }}