{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.services.services.enable }}
{{ with $data.services.services }}
<div class="max-w-7xl mx-auto px-4 relative">
    <div class="">
        {{ if .approach.enable }}
        <div class="flex items-center mt-9 sm:mt-11 lg:mt-14">
            <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl">{{ .approach.title }}</h3>
        </div>
        <p class="mt-4 text-base sm:mt-5 lg:mt-7 lg:text-xl">{{ .approach.description | markdownify }}</p>
        {{ end }}

        {{ partial "services-testimonial.html" .}}

        {{ if .partners.enable }}
        {{ with .partners }}
        <section class="my-9 lg:my-14">
            <h2 class="mb-4 font-bold text-xl sm:text-2xl lg:text-3xl">{{ .title }}</h2>
            <p class="mt-6 md:text-xl">{{ .description }}</p>
            <ul class="grid items-center space-y-8 md:grid-cols-4 md:space-y-0 mt-6">
                {{ range .partner }}
                <li>
                    <img src="{{ .logo }}" alt="{{ .name }}" class="h-20 mx-auto md:h-24" />
                </li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
        {{ end }}

        {{ if $data.casestudies.casestudies.enable }}
        {{ with $data.casestudies.casestudies }}
        <section class="my-9 lg:my-14">
            <h2 class="mb-4 font-bold text-xl sm:text-2xl lg:text-3xl">{{ .title }}</h2>
            <p class="md:text-xl">{{ .subtitle }}</p>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 text-center">
                {{ range .studies }}
                <div class="bg-[#1D65A6] pb-4 rounded-md text-[#FCFCFC]">
                    <div>
                        <h4 class="text-lg md:text-xl font-bold my-6">{{ .client_name}}</h4>
                        <p class="md:text-lg mx-4 pb-4 md:pb-0 md:h-64">{{ .summary }}</p>
                    </div>
                    <a href="{{ .link }}" class="flex justify-center items-center md:text-lg font-bold">
                        <span class="mr-1">
                            Learn More 
                        </span>
                        <img src="img/arrow-right.png" class="" />
                        <img src="img/arrow-right.png" class="" />
                    </a>
                </div>
                {{ end }}
            </div>
                    
        </section>
        {{ end }}
        {{ end }}  
        
        {{ if .action.enable }}
        {{ with .action }}
        <section class="my-9 lg:my-14 md:flex md:space-x-5 items-center pl-4 py-6 rounded-lg bg-[#F5F5F5]">
            <p class="pb-6 md:pb-0 font-bold md:text-xl">{{ .description }}</p>
            <div>
                <a href="{{ .schedule_link }}" target="_blank" class="bg-[#1D65A6] p-4 rounded-lg font-bold text-[#FCFCFC] md:text-base">{{ .button_text }}</a>
            </div>
        </section>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}