

{{ define "main" }}
<div class="relative max-w-7xl w-full mx-auto py-14 px-4 sm:px-6">
  <section>
    <h5 class="font-bold text-[#757575]">SERVICES</h5>
    <h2 class="py-2 text-2xl md:text-4xl font-extrabold">{{ .Params.title }}</h2>
    <div class="my-4 grid lg:grid-cols-3 gap-8">
      {{ range .Params.services }}
      <div class="{{ .style }} my-4 border p-6">
        <i class="fa-solid {{ .icon }} text-4xl"></i>
        <h4 class="my-8 text-xl md:text-2xl font-extrabold uppercase">{{ .title }}</h4>
        <ul class="list-disc list-outside ml-4">
          {{ range .list }}
          <li>{{ .item }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </section>
  <section class="py-14 grid grid-cols-2">
    {{ with .Params.innovate }}
    <div>
      <h5 class="font-bold text-[#757575]">INNOVATE OR STAGNATE</h5>
      <h2 class="py-2 text-2xl md:text-4xl font-extrabold uppercase">{{ .title }}</h2>
      <div class="my-4">
        <div class="md:text-lg *:py-2">{{ .text | markdownify }}</div>
      </div>
    </div>
    {{ end }}
    <div></div>
  </section>
</div>
{{ end }}
