{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="max-w-7xl mx-auto px-4 relative mt-8 mb-24">
    <section>
        <p class="text-[#192E5B] text-xl text-center px-10 py-6 italic font-semibold">{{ .Params.description }}</p>
    </section>
    <div class="mt-8">
        <section class="mb-8">
            <h2 class="font-bold text-xl sm:text-2xl lg:text-3xl mb-4">Problem</h2>
            <p>{{ .Params.problem }}</p>
        </section>
        <section class="mb-8">
            <h2 class="font-bold text-xl sm:text-2xl lg:text-3xl mb-4">Approach</h2>
            <p>{{ .Params.approach }}</p>
        </section>
        <section class="mb-8">
            <h2 class="font-bold text-xl sm:text-2xl lg:text-3xl mb-4">Result</h2>
            <p>{{ .Params.result }}</p>
        </section>
    </div>

    <div class="md:flex md:space-x-5 items-center pl-2 py-5 rounded-lg bg-[#F5F5F5]">
        <p class="pb-6 md:pb-0 font-bold md:text-xl">Schedule your no-cost, risk-free consultation.</p>
        {{ $data := index site.Data site.Language.Lang }}
        {{ if $data.services.services.action.enable }}
        {{ with $data.services.services.action }}
        <a href="{{ .schedule_link }}" target="_blank" class="border rounded-lg text-white font-bold bg-[#1D65A6] p-2.5">Schedule Consultation</a>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}