{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="relative max-w-7xl w-full mx-auto py-14 px-4 sm:px-6">
    <section>
      <h5 class="font-bold uppercase text-[#757575]">Case Studies: {{ .Params.industry }}</h5>
      <h2 class="py-2 text-2xl md:text-4xl font-extrabold uppercase">{{ .Params.title }}</h2>
      <div class="my-4 grid sm:grid-cols-3 sm:gap-8">
        {{ range .Params.case }}
        <div class="my-4 border p-6">
          <h4 class="mb-4 text-xl md:text-2xl font-extrabold uppercase">{{ .title }}</h4>
          <p>{{ .description }}</p>
          {{ range .results }}
          <ul class="list-disc list-outside ml-4">
            <li>{{ .result }}</li>
          </ul>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </section>
    <section class="py-8 grid md:grid-cols-2 gap-8">
        {{ with .Params.real_results }}
      <div>
        <h5 class="font-bold text-[#757575] uppercase">{{ .tagline }}</h5>
        <h2 class="py-2 text-2xl md:text-4xl font-extrabold uppercase">{{ .title }}</h2>
        <div class="my-4 md:text-lg">
            <p>{{ .description }}</p>
            <div class="my-4">
                <h5 class="font-semibold text-[#757575]">APPROACH</h5>
                <p class="py-2">{{ .approach }}</p>
            </div>
            <div class="my-4">
                <h5 class="font-semibold text-[#757575]">RESULT</h5>
                <p class="py-2">{{ .result }}</p>
            </div>
        </div>
      </div>
      {{ end }}
      
      {{ partial "results-links.html" . }}
    </section>
    {{ partial "proven-expertise.html" . }}
  </div>

{{ end }}