blockquote {
  background:#e4ece7;
  color: #353b43;
  border-left: 10px solid #57cbcc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.post-single-content img {
  width: 100%;
}

blockquote a:link, blockquote a:visited {
  color:#353b43;
}

blockquote a:hover, blockquote a:active {
  color:#57cbcc;
}