{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "header" }}
<div class="relative bg-[#1D65A6]">
  {{ partial "site-nav.html" . }}
</div>
{{ end }}

{{ define "main" }}
<div class="relative max-w-7xl mx-auto px-4 sm:px-6">
  <div class="mt-14">
    {{ if .Params.image }}
    {{ $image := .Params.image }}
    {{ $img := resources.Get $image }}
    {{ $img := $img.Resize "640x" }}

    {{ $webp := $img.Process "resize 640x webp q80" }}

    <div class="blog-img">
      <img src="{{ if ne $img.MediaType.SubType "webp" }} {{ $webp.RelPermalink }} {{ else }} {{ $img.RelPermalink }} {{ end }}" 
          alt="{{ .Title }}" class="mx-auto object-cover">
    </div>
    {{ end }}


    <div class="mt-8">
      <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl text-center" data-blog-title="{{ .Title }}">
        <b class="text-[#1D65A6]">{{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{
          end }}</b>
        {{ with .Title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
      </h3>
      <div class="flex flex-wrap justify-center items-center my-6">
        {{ $profile := .Params.profile }}
        {{ if eq (len .Params.authors) 1}}
        {{ range .Params.authors }}
        <a href="/authors/{{ . | urlize }}">
          <img src="{{ $profile }}" alt="" class="mr-3 border-4 border-white rounded-full h-11 drop-shadow-lg">
        </a>
        {{ end }}
        {{ else }}
        <img src="{{ $profile }}" alt="" class="mr-3 border-4 border-white rounded-full h-11 drop-shadow-lg">
        {{ end }}
        
        {{ range $key, $value := .Params.authors }}
        <span>
          <a href="/authors/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub ( len $.Params.authors) 1) }}, {{ else }}{{ end }} {{ end }} | {{ dateFormat "Monday, Jan 2, 2006" .Date }} |&nbsp;
        </span>
        <span>
          {{ range $key, $value := .Params.tags }}
          <a href="/tags/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub ( len $.Params.tags) 1) }},&nbsp; {{ else }}{{ end }}
        </span>
        {{ end }}

      </div>

      <article class="max-w-[800px] mx-auto prose mt-12">
        {{ .Content | safeHTML }}
        {{ if .Params.photo_credit }}
        <div class="border-t my-12"></div>
        <p>{{ .Params.photo_credit | markdownify }}</p>
        {{ end }}
      </article>
    </div>
  </div>

  <div class="bg-[#E8EFF6] max-w-[800px] mx-auto mt-9 p-8 rounded-lg">
    <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl text-center mb-3">
      <span class="text-[#1D65A6] font-bold">{{ with i18n "aboutPost" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}</span>
      {{ with i18n "aboutPost" }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
    </h3>
    <p class="text-base mx-auto px-2 text-center lg:text-base">
      {{ .Params.description }}
    </p>

    <div class="flex flex-col md:flex-row text-center mx-auto border-t pt-6 mt-6 align-center justify-between gap-10">
      <div class="lg:w-1/2">
        <h2 class="text-lg text-[#1D65A6] font-bold mb-3">
          {{ i18n "writtenBy" }}:</h2>
        <div class="flex items-center">
          {{ $profile := .Params.profile }}
        {{ if eq (len .Params.authors) 1}}
        {{ range .Params.authors }}
        <a href="/authors/{{ . | urlize }}">
          <img src="{{ $profile }}" alt="" class="mr-3 border-4 border-white rounded-full h-11 drop-shadow-lg">
        </a>
        {{ end }}
        {{ else }}
        <img src="{{ $profile }}" alt="" class="mr-3 border-4 border-white rounded-full h-11 drop-shadow-lg">
        {{ end }}
          {{ range .Params.authors }}
          <span class="flex flex-wrap">
            <a href="/authors/{{ . | urlize }}" class="lg:w-[20ch] mx-2">{{ . }}</a> 
            {{ end }}
          </span>
      </div>
      </div>
      <div class="lg:w-1/2">
        <h2 class="text-lg text-[#1D65A6] font-bold mb-3">{{ i18n "sharePost" }}:</h2>
        <ul class="flex items-center justify-center gap-6 mt-4">
          <li><a onClick="shareByEmail()" class="cursor-pointer "><img src="img/email.png" alt=""
                class="rounded-lg bg-white p-3"></a></li>

          <li><a onClick="shareOnTwitterWithTitle()" class="cursor-pointer"><img src="img/twitter.png" alt=""
                class="rounded-lg bg-white p-3"></a></li>
          <li><a onClick="shareOnLinkedIn()" class="cursor-pointer"><img src="img/linkedin.png" alt=""
                class="rounded-lg bg-white p-3"></a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between mt-12 sm:mt-24 items-center">
      <div class="flex items-center">
        <h2 class="font-bold text-2xl sm:text-4xl flex">
          <span class="text-[#1D65A6]">Recommended</span>
          &nbsp;Rotations
        </h2>
      </div>
      <div>
        <a href="/blog" class="flex text-base sm:text-lg items-center font-bold text-[#1D65A6]"><span>View all</span>
          <img src="img/arr-right.png" alt="" class="h-4 ml-2">
        </a>
      </div>
    </div>
    <div>
      <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:my-8">
        {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
        {{ range ($related.ByParam "date").Reverse }}
        <li class="mt-6 bg-[#ECF6FF] rounded-xl">
          {{ .Render "article"}}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ partial "newsletterForm.html" }}

{{ end }}

{{ define "appcode" }}
<script src="{{ `js/blogSingle.js` | absURL }}"></script>
<script type="module" src="{{ `js/newsletterForm.js` | absURL }}"></script>
{{ end }}