{{ define "main" }}
<div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="mt-9 sm:mt-11 lg:mt-14">
        <ul class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-8">
            {{ $pages := (.Data.Pages.ByParam "event_date").Reverse }}
            {{ range (.Paginate $pages ).Pages }}
            <li class="mt-6 sm:mt-0 h-auto bg-[#ECF6FF] rounded-b-xl">
                {{ .Render "resource" }}
            </li>
            {{ end }}

        </ul>


        {{ partial "paginator.html" . }}

    </div>
</div>
{{ end }}