{{ define "name" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "header" }}
<div class="sm:pt-5 

relative bg-[#1D65A6]">
    {{ partial "site-nav.html" . }}
</div>
{{ end }}

{{ define "main" }}


<div class="max-w-7xl mx-auto px-4 my-auto relative">
    {{ $slug := .Page.Permalink }}
    {{ $title := index (split $slug "/") 4 }}
    {{ $path := printf "/bio/%s" $title}}
    {{ with .Site.GetPage $path }}


    {{ .Render "author" }}

    <h1 class="text-xl font-bold text-sky-900 my-2 md:my-4 ">Posts by {{ .Params.name }} </h1>
    {{ end }}



    <div class="mt-16">

        <div class="mt-9 sm:mt-11 lg:mt-14">
            <ul class="b-card">



                {{ range .Data.Pages }}
                <li class="mt-6 sm:mt-0 h-auto">
                    {{ .Render "article" }}
                </li>
                {{ end }}
            </ul>
            {{ partial "paginator.html" . }}

        </div>

    </div>
    {{ end }}