<div class="article ">
    <a class="block" href="{{ .Permalink }}">
        <img src="{{ .Params.image | absURL }}" alt="" class="rounded-t-xl object-cover" style="height:212px; width:100%"></a>
    <div class="bg-[#ECF6FF] rounded-b-xl ">

        <div class="px-6 pt-4">
            <ul class="flex whitespace-nowrap">
                {{ range .Params.tags }}
                    <li class="blog-tag text-base font-bold text-[#1D65A6]">
                        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                    </li> 
                {{ end }}
            </ul>
            <h3 class="text-xl font-extrabold mt-3 pb-2 "><a class="block h-auto md:h-24" href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
            <div class='h-auto md:h-36'>
                <p class="mt-3 md:mt-8 text-base">{{ .Summary | markdownify | truncate 240 }}</p>

            </div>

        </div>

        <div class="flex justify-between items-center px-6 py-3 border-t mt-6">
            <div class="flex items-center">
                {{ $profile := .Params.profile }}
                {{ if eq (len .Params.authors) 1}}
                {{ range .Params.authors }}
                <a href="/authors/{{ . | urlize }}" class="flex items-center">
                    <img src="{{ $profile }}" alt="" class="rounded-full h-10 w-10">
                    <span class="ml-4 font-extralight">{{ . }}</span>
                </a>
                {{ end }}
                {{ else }}
                <img src="{{ .Params.profile }}" alt="" class="rounded-full h-10 w-10">
                <ul class="flex flex-wrap ml-4">
                    {{ range .Params.authors }}
                    <li class="list-multi-author font-extralight"><a href="/authors/{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <div class="font-extralight">
                {{ dateFormat "Jan 2, 2006" .Date }}
            </div>
        </div>
    </div>
</div>