<div class="flex flex-col h-full">
    <a href="{{ .Permalink }}">
        {{ $image := .Params.image }}
        {{ $img := resources.Get $image }}
        {{ $img := $img.Resize "640x" }}

        {{ $webp := $img.Process "resize 640x webp q80" }}    
        <img loading="lazy" src="{{ if ne $img.MediaType.SubType "webp" }}{{ $webp.RelPermalink }}{{ else }}{{ $img.RelPermalink }}{{ end }}" 
              alt="" class="rounded-t-xl object-cover" style="height:212px;width:100%" />
    </a>
    <div class="px-4 pt-4">
        <ul class="flex flex-wrap">
          {{ range $key, $value := .Params.tags }}
            <li class="text-base font-bold text-[#1D65A6]">
                <a href="/tags/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub ( len $.Params.tags) 1) }},&nbsp; {{ else }}{{ end }}
            </li> 
            {{ end }}
        </ul>
        <div class="flex flex-col mt-4 h-full">
            <h3 class="text-xl font-extrabold sm:h-36">
                <a href="{{ .Permalink}}" class="block">{{ .Title }}</a>
            </h3>
            <div class="mb-4">
                <p class="my-4 sm:mt-auto">
                    {{ .Summary | markdownify | truncate 240 }}
                </p>
            </div>
        </div>
    </div>
    <div class="flex justify-between mt-auto items-center border-t px-4 py-3 h-16">
        <div class="flex items-center">
            {{ $profile := .Params.profile }}
            {{ $profile := resources.Get $profile }}
            {{ $profile := $profile.Process "resize 40x40 webp q80" }}

            {{ if eq .Params.authors 1 }}
            {{ range .Params.authors }}
            <a href="/authors/{{ . | urlize }}" class="flex items-center">
                <img loading="lazy" src="{{ $profile.RelPermalink }}" alt="" class="rounded-full">
                <span class="ml-4 font-extralight">{{ . }}</span>
            </a>
            {{ end }}
            {{ else }}
            <img loading="lazy" src="{{ $profile.RelPermalink }}" alt="" class="rounded-full">
            <ul class="flex flex-wrap ml-4">
                {{ range $key, $value := .Params.authors }}
                <li class="font-extralight">
                    <a href="/authors/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub ( len $.Params.authors) 1) }},&nbsp; {{ else }}{{ end }}
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="font-extralight">
            {{ dateFormat "Jan 2, 2006" .Date }}
        </div>
    </div>
</div>