<div class="article ">
    <img src="{{ .Params.image | absURL }}" alt="" class="rounded-t-xl" style="height:212px; width:100%">
    <div class="bg-[#ECF6FF] rounded-b-xl ">
        <div class="px-6 pt-4">
            <h4 class="text-base font-bold text-[#1D65A6]">{{ .Params.category }}</h4>
            <h3 class="text-xl font-extrabold mt-3 "><a class="block h-24" href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
            <div class='art-s'>
                <p class="mt-3 text-base font-extralight">{{ .Summary }}</p>

            </div>

        </div>
        <div class="flex justify-between items-center px-6 py-3 border-t mt-6">
            <div class="flex items-center">
                <img src="img/avatar.png" alt="" class="rounded-full">
                <span class="ml-4 font-extralight">{{ .Params.author }}</span>
            </div>
            <div class="font-extralight">
                {{ dateFormat "Jan 2, 2006" .Date }}
            </div>
        </div>
    </div>
</div>