<div class="my-6 border border-solid border-[#000000] rounded-[9px] bg-[#ECF6FF]">
    <a href="{{.Permalink}}">
        <img src="{{ .Params.image | absURL }}" alt="" class="m-0 rounded-t-lg h-60 w-full" />
    </a>
    <div class="py-4 bg-[#E66809] text-xl text-white text-center">
        <a href="{{.Permalink}}" class="block">
        {{ .Params.subtitle}}
        </a>
    </div>
    <div class="mt-6 ml-4 max-h-[136px]">
        <div><span class="font-bold">Producer:</span> {{ .Params.producer_name }}</div>
        <div><span class="font-bold">License:</span> {{ .Params.license }}</div>
        <p class="mt-4 w-11/12">{{ .Params.summary}}</p>
    </div>
    <div class="pb-6 mt-12">
            <a href="{{.Permalink}}" class="text-white text-center no-underline block bg-[#192E5B] mx-auto w-1/2 rounded-xl py-4 hover:bg-[#1D65A6]">Learn More</a>
    </div>
</div>