<div class="my-6 border border-solid border-[#000000] rounded-[9px] bg-[#ECF6FF]">
    <img id="card-image" alt="" class="m-0 rounded-t-lg h-60 w-full" />
    <div id="card-subtitle" class="py-4 bg-[#E66809] text-xl text-white text-center"></div>
    <div class="mt-6 ml-4">
        <div><span class="font-bold">Producer:</span> <span id="producer-name"></span> </div>
        <div><span class="font-bold">License:</span> <span id="license"></span></div>
        <p id="summary" class="mt-4 w-11/12"></p>
    </div>
    <div class="pb-6 mt-8">
        <button class="bg-[#192E5B] block mx-auto w-1/2 rounded-xl py-4 hover:bg-[#1D65A6]">
            <a id="link" href="" class="text-white no-underline block">Learn More</a></button>
    </div>
</div>