<section class="sm:py-9">
    {{ with .Params.expertise }}
    <h5 class="font-bold uppercase text-[#757575]">{{ .subheading }}</h5>
    <h2 class="py-2 text-2xl uppercase md:text-4xl font-extrabold">{{ .heading }}</h2>
    <p class="py-4 md:text-lg">{{ .description }}</p>
    {{ end }}
    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 py-8 text-center">
        
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages.ByWeight }}
        <a href="/case-studies/{{ .Params.slug }}">
            <div class="flex flex-col h-full border bg-[#ECF6FF] py-4 rounded-md">
                <div class="pb-4">
                    <span class="block mb-2 font-bold text-[#1D65A6]">{{ .Params.industry }}</span>
                    <span class="block font-bold text-[#1D65A6]">{{ .Params.service }}</span>
                </div>
                <h4 class="text-lg md:text-2xl font-bold mb-4 p-4 text-balance">{{ .Params.title }}</h4>
                <div class="mt-auto">
                  <span class="flex justify-center items-center md:text-xl font-bold">
                    <span class="mr-1">
                        Learn More 
                    </span>
                    <i class="fa-solid fa-angles-right"></i>
                </span>
                </div>
            </div>
        </a>
        {{ end }}

    </section>
</section> 