<section class="sm:py-9">
    {{ with .Params.expertise }}
    <h5 class="font-bold uppercase text-[#757575]">{{ .subheading }}</h5>
    <h2 class="py-2 text-2xl uppercase md:text-4xl font-extrabold">{{ .heading }}</h2>
    <p class="py-4 md:text-lg">{{ .description }}</p>
    {{ end }}

    {{ $paginator := .Paginate .Data.Pages }}

    <div class="flex flex-col gap-8 md:gap-0 items-center md:flex-row md:justify-between my-4">
        <div class="flex flex-col gap-y-1">
            <label for="industry-sel" class="text-lg">Industry Filter:</label>
            <select id="industry-sel" class="bg-[#EEEEEE] border border-black h-10 w-80 md:mr-2 pl-3 text-lg">
                <option value="all">All</option>
                {{ $seen := dict }}
                {{ range $paginator.Pages.ByParam "industry" }}
                    {{ $industry := .Params.industry }}
                    {{ if not (index $seen $industry) }}
                    <option value="{{ $industry }}">{{ $industry }}</option>
                    {{ $seen = merge $seen (dict $industry true) }}
                    {{ end }}
                {{ end }}
            </select>
        </div>
        
        <div class="flex flex-col gap-y-1">
            <label for="service-sel" class="text-lg">Service Filter:</label>
            <select id="service-sel" class="bg-[#EEEEEE] border border-black h-10 w-80 md:mr-2 pl-3 text-lg">
                <option value="all">All</option>
                <option value="ai-assessment">AI Assessment</option>
                <option value="ai-ops">AI Ops & Data Foundations</option>    
                <option value="ai-product">AI Product Development</option>
            </select>
        </div>
    </div>

    <section id="case-studies" class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 py-8 text-center">
        
      {{ range $paginator.Pages.ByWeight }}
      <div class="case-study" data-industry="{{ .Params.industry }}" data-service="{{ .Params.service }}">
        <a href="/case-studies/{{ .Params.slug }}">
            <div class="flex flex-col h-full border bg-[#ECF6FF] py-4 rounded-md">
                <div class="pb-4">
                    <span class="block mb-2 font-bold text-[#1D65A6]">{{ .Params.industry }}</span>
                    <span class="block font-bold text-[#1D65A6]">{{ .Params.service }}</span>
                </div>
                <h4 class="text-lg md:text-2xl font-bold mb-4 p-4 text-balance">{{ .Params.title }}</h4>
                <div class="mt-auto">
                    <span class="flex justify-center items-center md:text-xl font-bold">
                        <span class="mr-1">Learn More </span>
                        <i class="fa-solid fa-angles-right"></i>
                    </span>
                </div>
            </div>
        </a>
      </div>
        {{ end }}

    </section>
</section> 