{{ $data := index site.Data site.Language.Lang }}

{{ if $data.clients.clients.enable }}
{{ with $data.clients.clients }}
<div class="relative max-w-7xl w-full">
    <ul class="py-4 flex-col flex md:flex-row flex-wrap items-center md:justify-around lg:justify-between">
        {{ range .clients_item }}
            {{ if .showServices }}
        <li class="py-8 md:px-8 lg:px-0 mx-auto md:mx-0">
            <img class="w-auto" src="{{ .image | absURL }}" alt="{{ .name }}">
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}