<section>
    <h2 class="font-bold text-3xl">Data Engineering Simplified</h2>
    <img src="img/ensign-diagram.png" alt="Illustration of how Ensign works. Text in diagram reads: 1. Connect data sources. 2. Enrich, Combine, Move Data on Ensign. 3. Deliver real-time events and analytics seamlessly."  />
   
    <div class="container">
        <h2 class="font-bold text-2xl lg:leading-loose pb-5 text-left">Spend Your Time Writing Code, Not YAML</h2>
        <div class="text-left leading-relaxed">
            <p class="pb-10">
                Focus on delivering rich experiences and analytics, not building, configuring or maintaining infrastructure. As a developer-friendly <span class="font-bold">managed service</span>, Ensign makes it easy to implement and scale event-driven microservices for your application. Out-of the-box, Ensign gets you:
            </p>
            <ul class="list-disc list-outside pl-10">
                <li class="pb-2">
                    <span class="font-bold">- High Performance & Reliability.</span> Realize competitive throughput and reliability to power mission critical apps, without additional infrastructure.
                </li>
                <li class="pb-2">
                    <span class="font-bold">- Automatic Reconfiguration.</span> Scale apps up or down with minimal devops or admin burden.
                </li>
                <li class="pb-2">
                    <span class="font-bold">- Persistence by Default.</span> Build real-time machine learning models and “time travel” with your data with no configuration required and minimal impact on throughput.
                </li>
                <li class="pb-2">
                    <span class="font-bold">- Geographic Event Encoding.</span> Deliver hyper-personalized experiences while complying with privacy regulations out-of-the-box.
                </li>
                <li class="pb-5">
                    <span class="font-bold">- Total Ordering by Default.</span> Provide accurate, consistent experiences and insights across apps, models, devices, and geographies.
                </li>
            </ul>
        </div>
    </div>
</section>