<section id="ensign-intro" class="pb-10 pt-8">
  <section class="text-base text-xl">
    <h2 class="pb-5 leading-tight font-bold text-4xl">
      <span class="text-[#1D65A6]">Simplified</span>, Flexible and Secure Event Streams with No Overhead
    </h2>
    <p class="pb-5">
    Trust us, we know how hard it is to make stuff. All you want is to build, ship,
    scale, and monitor all the data-driven features on your PM's fancy roadmap. Is that
    so much to ask?
    </p>
    <p class="pb-5">
    We don't think so! <a href="https://rotational.app/register" class="text-[#1D65A6] font-bold">Ensign</a>
    can help you make analytics real time, do MLOps without days of refactoring, and
    automate all those boring ETLs. All it takes is an API Key and a few lines of code.
    No new infrastructure, no surprise costs.
    </p>
  </section>
  <section class="text-base text-xl pt-5">
    <h2 class="pb-5 leading-normal font-bold text-3xl">
      Built for the Modern Data Team
    </h2>
    <p class="pb-5">
    Whether you wear one hat or all the hats, the right tool can make a world of difference.
    </p>

    <!-- Begin Otter Cards -->
    <div class="sm:grid grid-cols-3 gap-8 mt-5">
      <div class="bg-[#E3E3E1] rounded-xl mb-5">
        <h3 class="font-bold text-2xl lg:text-3xl text-center pt-6">Developers</h3>
        <img src="/img/ensign/otter_developer.png"
             class="rounded-xl w-72 m-auto"
             alt="Otter software developer face wearing glasses and a beret"
        />
        <p class="text-xl text-center px-5 pb-5">
          Quickly build event-driven APIs to leverage reactive, asynchronous streams
          for scalable and reliable microservices and intuitive and fast front-ends.
        <p>
        <p class="text-center text-white font-semibold pt-3 pb-10">
          <a href="https://ensign.rotational.dev/examples/developers/" target="_blank"
            class="text-xs sm:text-lg rounded-lg px-5 md:px-12 py-3 md:py-5 bg-[#1D65A6] uppercase">
            Learn More
          </a>
        </p>
      </div>
      <div class="bg-[#E3E3E1] rounded-xl mb-5">
        <h3 class="font-bold text-2xl lg:text-3xl text-center pt-6">Data Scientists</h3>
        <img src="/img/ensign/otter_data_scientist.png"
             class="rounded-xl w-72 m-auto"
             alt="Otter data scientist face with a goatee"
        />
        <p class="text-xl text-center px-5 pb-5">
          Self-serve data and move from batch processing to active and reinforcement
          machine learning. Bonus: skip over all those MLOps headaches.
        <p>
        <p class="text-center text-white font-semibold pt-3 pb-10">
          <a href="https://ensign.rotational.dev/examples/data_scientists/" target="_blank"
            class="text-xs sm:text-lg rounded-lg px-5 md:px-12 py-3 md:py-5 bg-[#1D65A6] uppercase">
            Learn More
          </a>
        </p>
      </div>
      <div class="bg-[#E3E3E1] rounded-xl mb-5">
        <h3 class="font-bold text-2xl lg:text-3xl text-center pt-6">Data Engineers</h3>
        <img src="/img/ensign/otter_data_engineer.png"
             class="rounded-xl w-72 m-auto"
             alt="Otter data engineer face with earings, a pony tail, and a pencil behind the ear"
        />
        <p class="text-xl text-center px-5 pb-5">
          Let downstream consumers define their own data schemas rather than struggling
          to find the one schema that everyone can agree on.
        <p>
        <p class="text-center text-white font-semibold pt-3 pb-10">
          <a href="https://ensign.rotational.dev/examples/data_engineers/" target="_blank"
            class="text-xs sm:text-lg rounded-lg px-5 md:px-12 py-3 md:py-5 bg-[#1D65A6] uppercase">
            Learn More
          </a>
        </p>
      </div>
    </div>
  </section>
</section>