<section id="ensign-confirmation" class="hidden">
  <div class="pb-10 pt-8">
    <div class="bg-[#00743F] rounded p-4 font-bold text-white">
      Success! Thank you for your interest in Ensign.
    </div>
  </div>
  <section class="pb-20 xl:grid grid-cols-2 gap-20">
    <section class="mt-4 text-base sm:mt-5 lg:mt-7 lg:text-lg">
      <h3 class="pb-10 font-bold text-xl sm:text-2xl">We'll be in touch soon.</h3>
      <p class="pb-5">
        Now you might be thinking: why sea otters? First, don't get us started on how
        awesome they are; their basketball skills are better than ours!
        <img src="/img/finger.png"
            alt="A pointer finger outlined in blue indicating the sea otter gif."
            class="inline h-5 pl-4"
        />
      </p>
      <p class="pb-5">
        But really, we love them as our mascot because a group of otters is called a
        "raft" since they sleep holding hands to stay floating together. This is a key
        metaphor for strongly consistent distributed systems, and one of the most popular
        consensus algorithms is called
        <a href="https://raft.github.io/" target="_blank" rel="external" class="text-[#1D66A6]">Raft</a>.
      </p>
      <h3 class="pt-5 pb-10 font-bold text-xl sm:text-2xl">What's next?</h3>
      <ul class="pl-5 pb-5 list-disc list-outside">
        <li class="pb-1">Expect a confirmation email from us.</li>
        <li class="pb-1">Tweet about
            <a href="https://twitter.com/rotationalio" target="_blank" rel="external"
                class="text-[#1D66A6]">us</a> (or <a href="https://twitter.com/in_otter_news2"
                target="_blank" rel="noreferrer" class="text-[#1D66A6]">sea otters</a>)?
        </li>
        <li class="pb-1">
            <a href="https://www.gentlydownthe.stream/" target="_blank" rel="external"
                class="text-[#1D66A6]">
                Teach your kids (or friends) about streaming.</a>
        </li>
        <li class="pb-1">Dream about your first event stream.</li>
      </ul>
    </section>
    <section class="p-14 bg-[#1D65A6] rounded-xl md:rounded-l-xl items-center">
      <div>
        <img src="img/dunking-seaotter.gif"
            alt="A sea otter in a pool playing basketball."
            title="Dunking Sea Otter"
            class="m-auto rounded"
        />
        <p class="p-7 text-white text-center">We love Sea Otters here at Rotational!</p>
      </div>
    </section>
  </section>
</section>