<section id="ensign-beta-access" class="text-base text-xl py-10">
  <h2 class="pb-5 leading-normal font-bold text-3xl">
    Join the Ensign Beta
  </h2>
  <p class="pb-5">
    The Ensign Beta is out now and we'd love to hear your thoughts! Register for
    a free account to get started with our platform; then use either our
    <a href="https://github.com/rotationalio/go-ensign" target="_blank" class="text-[#1D65A6] font-bold">Go</a>,
    <a href="https://github.com/rotationalio/watermill-ensign" target="_blank" class="text-[#1D65A6] font-bold">Watermill</a>,
    or <a href="https://github.com/rotationalio/pyensign" target="_blank" class="text-[#1D65A6] font-bold">Python SDKs</a>
    to get started building your first event-driven application. We know your
    time is valuable, but these are the early stages for Ensign and you could
    dramatically shape what it becomes. Take part in our
    <a href="https://forms.gle/V2Gt48CJttFGitGZ8" target="_blank" class="text-[#1D65A6] font-bold">User Study</a>
    and we'll send you a special thank you gift!
  </p>
  <div class="text-center text-white font-semibold py-10">
    <a href="https://rotational.app/register" target="_blank"
    class="text-xs sm:text-lg rounded-lg mr-5 px-5 md:px-12 py-3 md:py-5 bg-[#1D65A6] uppercase">
    Create an Ensign Account
    </a>

    <a href="https://forms.gle/V2Gt48CJttFGitGZ8" target="_blank"
    class="text-xs sm:text-lg rounded-lg px-5 md:px-12 py-3 md:py-5 bg-[#1D65A6] uppercase">
    Join the User Study
    </a>
  </div>
</section>