  <div class="max-w-7xl mx-auto px-4 relative">
        <section class="grid grid-cols-3 gap-8 mx-auto pt-8 pb-10 max-w-xl pl-5 sm:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
            <section class="col-span-2">
                <h2 class="leading-10 pb-5">Success! Thank you for your interest in Ensign.</h2>
                <h3 class="pb-5 font-bold">We'll be in touch soon.</h3>
                <div class="grid grid-cols-2">
                    <div>
                        <p class="pb-3">Now you might be thinking: Why sea otters?</p>
                        <div class="flex pb-10">
                            <p>Oh, don't get us started!</p>
                            <img
                                src="/img/finger.png"
                                alt="A pointer finger outlined in blue."
                                class="pl-5 flex h-8"
                                />
                        </div>
                        <h3 class="pb-5 font-bold">What next?</h3>
                        <ul class="pl-5 pb-5 list-disc list-outside">
                            <li class="pb-1">Expect a confirmation email from us.</li>
                            <li class="pb-1">Tweet about
                                <a href="https://twitter.com/rotationalio" target="_blank" rel="noreferrer" 
                                class="text-[#1D66A6]">us</a> (or <a href="https://twitter.com/in_otter_news2" target="_blank" 
                                rel="noreferrer" class="text-[#1D66A6]">sea otters</a>)?
                            </li>
                            <li class="pb-1">
                                <a href="https://www.gentlydownthe.stream/" target="_blank" rel="noreferrer" class="text-[#1D66A6]">
                                    Teach your kids (or friends) about streaming.</a>
                            </li>
                            <li class="pb-1">Dream about your first event stream.</li>
                        </ul>
                    </div>
                    <div class="ml-10">
                        <img
                            class='pt-20 sm:pt-0'
                            src="img/dunking-seaotter.gif"
                            alt="A sea otter in a pool playing basketball."
                        />
                    </div>
                </div>
                <p>Probably you'll just wait to hear from us.</p>
            </section>
        </section>
    </div>