    <section class="pb-20 pt-8 xl:grid grid-cols-2 gap-8">
        <section>
            <h2 class="font-bold text-4xl leading-10 pb-5">Powering Real-time Apps & Analytics</h2>
            <p class="pb-5">The global real-time revolution is here.</p>
            <p class="pb-5">
                <span class="text-[#1D65A6] font-bold">Ensign</span> is a <span class="font-bold">next-generation distributed event store and stream-processing platform</span> for real-time apps and analytics that requires no additional investment in infrastructure or overhead. <span class="font-bold">Built for speed and simplicity</span>, Ensign offers advanced features for next-generation applications while significantly reducing barriers to building, maintaining, and scaling event-driven applications. With Ensign, you can:
            </p>

            <ul class="list-disc list-outside pb-5 pl-10">

                <li>Customize your data pipelines</li>
                <li>Quickly build or integrate events into new or existing applications</li>
                <li>Provide fast, consistent, and personalized digital experiences across time and space</li>
                <li>Accelerate time-to-insight in business intelligence and data analytics</li>

            </ul>
            <p class="pb-5">
                Designed as a “low ops / no ops” cloud-agnostic <span class="font-bold">managed service</span>, Ensign is ideal for developers and organizations building <span class="font-bold">event-driven microservices</span> to power rich consumer digital experiences, streaming machine learning models, and real-time business intelligence dashboards.
            </p>
        </section>
        <section>
            <form action="https://api.rotational.app/v1/notifications/signup" method="post" class="bg-[#DED6C5]">
                <div class="p-7">
                    <h3 class="pb-2 text-2xl font-bold">Request Alpha Access Today</h3>
                    <p class="pb-3">We're opening up Ensign on a limited basis. No credit card required.</p>
                </div>
                <div>
                    <label class="hidden">First Name </label>
                    <input name="firstName" type="text" required="required" placeholder="First Name *" class="px-7 py-4 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" />
                </div>
                <div>
                    <label class="hidden">Last Name </label>
                    <input name="lastName" type="text" required="required" placeholder="Last Name *" class="px-7 py-4 mt-7 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" />
                </div>
                <div>
                    <label class="hidden">Email address </label>
                    <input type="email" required="required" placeholder="Email address *" class="px-7 py-4 mt-7 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" />
                </div>
                <div>
                    <label class="hidden">Title </label>
                    <input name="title" type="title"placeholder="Title" class="px-7 py-4 mt-7 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" />
                </div>
                <div class="pb-3">
                    <label class="hidden">Organization </label>
                    <input name="organization" type="text" placeholder="Organization" class="px-7 py-4 mt-7 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" />
                </div>
                <div class="pb-5">
                    <label class="hidden">Cloud Service Provider</label>
                    <select name="cloudServiceProvider" class="px-7 py-4 mt-7 mr-2 ml-4 rounded-lg w-11/12 basis-1/2" >
                        <option value="Cloud service provider not selected">Cloud service provider</option>
                        <option value="Amazon Web Services (AWS)">Amazon Web Services (AWS)</option>
                        <option value="Microsoft Azure">Microsoft Azure</option>
                        <option value="Google Cloud">Google Cloud</option>
                        <option value="Alibaba Cloud">Alibaba Cloud</option>
                        <option value="Digital Ocean">Digital Ocean</option>
                        <option value="IBM Cloud">IBM Cloud</option>
                        <option value="Oracle">Oracle</option>
                        <option value="Salesforce">Salesforce</option>
                        <option value="SAP">SAP</option>
                        <option value="Rackspace Cloud">Rackspace Cloud</option>
                        <option value="VMWare">VMWare</option>
                        <option value="On premises">On premises</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="pb-5 ml-5 mr-2">
                    <label>
                        <input type="checkbox" required="required" />
                        <span>I agree to receive notifications about Ensign from Rotational Labs. Your contact information will not be shared with external parties. Unsubscribe any time.</span>
                    </label>
                </div>
                <div class="flex justify-center content-center pb-10">
                    <button type="submit" name="button" class="p-2 text-2xl text-center text-white bg-[#37A36E]">Request Access</button>
                </div>
            </form>
        </section>
    </section>