{{ $data := index site.Data site.Language.Lang }}

{{ if $data.partnerships.partnerships.enable }}
{{ with $data.partnerships.partnerships }}
<div>
    <div class="mt-9 text-center sm:mt-11 lg:mt-14">
        <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl">
            <b class="text-[#1D65A6]">{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}</b>
            {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
        </h3>
      </div>
    
      <ul class="flex mt-10 mx-auto justify-center space-x-20">
        {{ range .partner_item}}
            <li class="text-center">
                <img src="{{ .image }}" alt="{{ .name }}" class="h-24 mx-auto">
                <p class="text-lg font-bold">{{ .name }}</p>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}