{{ $data := index site.Data site.Language.Lang }}

{{ if $data.about.about.philosophy.enable }}
{{ with $data.about.about.philosophy }}

<section class="py-9">
  <h5 class="font-bold text-[#757575] uppercase">{{ .subtitle }}</h5>
  <h2 class="py-2 text-2xl md:text-4xl font-extrabold uppercase">{{ .title }} </h2>
  <section class="grid md:grid-cols-2 lg:grid-cols-3 md:gap-8">
    {{ range .philosophy_items }}
    <div class="my-8 border p-6 {{ .style }}">
      <i class="{{ .icon }} text-4xl"></i>
      <img src="{{ .image }}" alt="">
      <h4 class="my-8 text-xl md:text-2xl font-extrabold">{{ .title }}</h4>
      <p class="my-4 md:text-lg">{{ .description }}</p>
    </div>
    {{ end }}
  </section>
</section>

{{ end }}
{{ end }}