<div class="mt-12 md:mx-32 lg:mx-40 bg-[#ECF6FF] lg:mt-14 p-6 rounded-xl">
  <p class="text-xl text-center">
    "<span class="text-[#A32C00] font-bold">Rotational Labs</span> has been a true partner to us 
    -- from helping us realize and deploy our ambitious visions for next-gen supply chain analytics, 
    to empowering our technical team with the skills and ability to maintain our products and services long-term."
  </p>
  <p class="pt-4 text-xl text-center">
    <span class="text-[#A32C00] font-bold">Sebastian Sobolev</span>,
    <span class="text-[#192E5B] font-bold">BlueVoyant Group</span>
  </p>
</div>
