<footer>
    <div class="relative pt-[90px] sm:pt-[300px] font-extralight">
        <img class="w-full absolute inset-y-0 left-0 lg:h-full lg:w-full lg:max-w-none" src="img/foot.png" alt="" />
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 bg-[#192E5B]">
            <div class="sm:flex text-white">
                <div>
                    <a href=""><img src="img/logo-white.png" alt="" class="sm:h-auto h-16"></a>
                </div>
                <div class="sm:ml-24 mt-5 sm:mt-0 max-w-lg">
                    {{ $data := index site.Data site.Language.Lang }}

                    {{ if $data.contact.contact.contact_details.enable }}
                        {{ with $data.contact.contact.contact_details }}
                            <h5 class="font-bold text-lg">{{ .title }}</h5>
                            <p class="mt-3">
                                {{ .subtitle }}
                            </p>
                        {{ end }}
                    {{ end }}
                </div>
                <div class="sm:ml-24 sm:mt-0 mt-8">
                    <ul class="grid grid-cols-2 gap-8">
                        {{ range sort (.Site.Params.socials) "weight" "asc" }}
                            <li>
                                <a href="{{ .url }}" class="flex items-center" target="_blank">
                                    <img src="{{ .image }}" alt="" class="p-4 bg-white rounded-lg mr-4">
                                    <span>{{ .username }}</span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="sm:flex justify-between border-t py-6 text-white mt-12 sm:mt-32">
                <p>{{ site.Params.copyright | markdownify }}</p>
                <ul class="sm:mt-0 mt-4 flex">
                    <li class="border-r pr-4 mr-4 "><a href="">{{ i18n "privacyPolicy" }}</a></li>
                    <li><a href="">{{ i18n "termsOfUse" }}</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>