{{ partial "alerts.html" }}

{{ if eq $.Page.Kind "home" }}
<div class="relative w-full">
    <div class="relative w-full h-full bg-[#1D65A6] md:min-h-[691px] min-h-[480px]">
        <div>
          {{ partial "site-nav.html" . }}

          <div class="max-w-7xl pb-8 mx-auto flex flex-col-reverse sm:flex-row sm:items-start sm:justify-between text-white px-4 sm:px-6">
              <div class="w-full sm:w-3/5 text-center sm:text-start text-3xl ">
                {{ $intro := .Params.intro }}
                {{ $header := .Params.header }}
                {{ with $header }}
                <div class="mt-6 sm:mt-20">
                    <h5 class="mb-4 text-lg font-bold">{{ $intro | markdownify }}</h5>
                    <h1 class="font-extrabold text-3xl md:text-5xl *:block">{{ . | markdownify }}</h1>
                </div>
                {{ end}}
                  {{ $headertext := .Params.headertext }}
                  {{ $headertextmore := .Params.headertextmore }}
                  {{ with $headertext }}
                  <p class="mt-6 text-sm md:text-xl">
                      {{ . | markdownify }}
                  </p>
                  {{ if $headertextmore }}
                  <p class="mt-6 text-sm md:text-xl">{{ $headertextmore | markdownify }}{{ end }}</p>
                  {{ end }}

                 {{ if .Params.headeractions }}
                  <div class="flex gap-x-2 justify-center items-center sm:justify-start mt-8 lg:mt-12">
                    {{ range .Params.headeractions }}
                    {{ if in .action "Download" }}
                    <button id="{{ .id }}" data-dropdown-toggle="dropdown" class="text-xs md:text-base text-center font-semibold rounded-lg px-5 md:px-2 xl:px-12 py-3 lg:py-5 bg-[#192E5B] hover:bg-[#72A3C0] uppercase mr-3">
                        <div class="flex items-center lg:gap-x-2">
                            <span>{{ .action }}</span>
                            <i id="dropdown-icon" class="{{ .icon }} md:mr-2 lg:mr-0"></i>
                            <span class="sr-only">Click for book download options</span>
                        </div>
                    </button>
                   {{ else }}
                    <a href="{{ .link }}"
                      id="{{ .id }}"
                      class="text-xs md:text-base text-center font-semibold rounded-lg p-4 xl:px-12 lg:py-5 bg-[#192E5B] hover:bg-[#72A3C0] uppercase mr-3">
                      <div class="flex items-center gap-x-1">
                        {{.action }}
                        <i class="{{ .icon }}"></i>
                      </div>
                    </a>
                    {{ end }}
                    {{ end }}
                  </div>
                  {{ end }}
                  {{ if .Params.download }}
                  <div id="dropdown" class="z-20 hidden bg-white divide-y divide-gray-100 rounded-lg w-44 md:w-64 xl:w-[21rem]">
                    <div class="rounded-lg shadow bg-white">
                        <ul class="pt-4 px-4">
                            {{ range .Params.download }}
                            <li class="pb-4"><a href="{{ .link }}" class="block p-1 font-semibold text-center text-[#192E5B] text-xs md:text-base hover:bg-[#BCC6CF]/40 ">{{ .text }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                      {{ end }}
                  </div>
              </div>
              <div class="mx-auto">
                <img src="img/vertical-logo.png" alt="Rotational Labs logo" class="mt-4 sm:mt-[4.5rem] h-12 sm:h-40 md:h-64 w-auto">
              </div>
          </div>
        </div>
    </div>
    {{ if .Params.services }}
    <div class="relative hidden md:block md:-mt-12 xl:-mt-32 md:mb-10 md:z-10 md:mx-auto w-full max-w-screen-xl text-white px-4">
        <section class="grid grid-cols-3">
            {{ range .Params.services }}
            <a href="{{ .url }}">
                <div class="{{ .style}} p-6 flex flex-col h-full">
                    <div class="mb-4">
                        <h2 class="text-xl font-bold">{{ .service}}</h2>
                    </div>
                    <div class="pt-2 flex flex-col h-full">
                        <p class="mt-auto items-start">{{ .description}}</p>
                        <div class="mt-auto pt-2 flex justify-end items-end">
                            <i class="fa-solid fa-arrow-right text-2xl"></i>
                        </div>
                    </div>
                </div>
            </a>
            {{ end }}
        </section>
    </div>
</div>
</section>
{{ end }}
{{ else }}
<div class="min-h-[350px] sm:min-h-[480px] w-full">
    <div class="min-h-[350px] sm:min-h-[480px] w-full bg-[#1D65A6]">

        {{ partial "site-nav.html" . }}

        <div class="max-w-7xl mx-auto flex flex-col-reverse sm:flex-row sm:items-start sm:justify-between text-white px-4 sm:px-6">
            <div class="w-full sm:w-3/5 sm:text-start text-3xl">
                <div class="mt-10 md:mt-40">
                    <h5 class="mb-4 text-lg font-bold">{{ .Site.Params.intro }}</h5>
                    {{ with .Params.headertext }}
                    <h1 class="font-extrabold text-3xl uppercase md:text-5xl">{{ . }}</h1>
                    {{ end }}
                    {{ if not .Params.headertext }}
                    <h1 class="font-bold text-3xl uppercase lg:text-5xl">{{ .Title }}</h1>
                    {{ end }}
                </div>
                {{ if .Params.subheadertext }}
                {{ with .Params.subheadertext }}
                <p class="mt-6 text-sm md:text-xl">{{ . }}</p>
                {{ end }}
                {{ end }}
                {{ if .Params.moresubheadertext }}
                {{ with .Params.moresubheadertext }}
                <p class="text-2xl lg:text-4xl mt-1 lg:mt-2 font-extralight">{{ . }}</p>
                {{ end }}
                {{ end }}
            </div>
            <div class="md:mx-auto">
                <img src="img/vertical-logo.png" alt="Rotational Labs logo" class="sm:mt-4 md:mt-36 h-12 sm:h-40 w-auto">
            </div>
        </div>
    </div>
</div>
{{end}}