<nav class="relative max-w-7xl mx-auto flex items-center justify-between text-white px-4 sm:px-6 z-[9999] py-5" aria-label="Global">
    <a href="/">
        <img src="img/rototational-white-text-only.png" alt="Rotational" class="h-8 w-auto">
    </a>
    <ul class="topnav" id="myTopnav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="uppercase">
            <a class=" {{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
        </li>
        {{ end }}
        <a class="icon" onclick="openMobNav()">
            <i class="fa fa-bars"></i>
        </a>
    </ul>
</nav>