<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="{{ `js/app.js` | absURL }}"></script>
<!-- DISABLED TEMPORARILY: MUST BE ENABLED TO ALLOW SEARCH ON DATA PLAYGROUND
        <script src="{{ `js/playground-search.js` | absURL }}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://unpkg.com/@highlightjs/cdn-assets/highlight.min.js"></script>
<!-- <script>hljs.highlightAll();</script> -->