{{ partial "alerts.html" }}

{{ if eq $.Page.Kind "home" }}
<div class="relative sm:bg-wavelg-pattern bg-wave-pattern bg-right-center sm:min-h-[691px] min-h-[480px] w-full">
    <!-- hero element -->
    <div
        class="relative top-0 left-0 w-full h-full bg-hero-pattern sm:bg-[length:1267px_691px] bg-[length:882.5px_480px] bg-right-center bg-no-repeat sm:min-h-[691px] min-h-[480px]">

        <!-- overlay to make white text readable over clouds -->
        <div class="absolute top-0 left-0 w-full block h-full z-[1] bg-transparent-overlay md:hidden"></div>

        <div class="absolute top-0 left-0 w-full h-full z-[9]">
          {{ partial "site-nav.html" . }}

          <div class="max-w-7xl mx-auto flex items-center justify-between text-white px-4 sm:px-6">
              <div class="w-full sm:w-3/5 text-center sm:text-start text-3xl ">
                {{ $header := .Params.header }}
                {{ with $header }}
                <div class="mt-6 sm:mt-20">
                    <h1 class="font-bold text-3xl md:text-5xl">{{ . | markdownify }}</h1>
                </div>
                {{ end}}
                  {{ $headertext := .Params.headertext }}
                  {{ $headertextmore := .Params.headertextmore }}
                  {{ with $headertext }}
                  <p class="mt-6 text-sm md:text-xl">
                      {{ . | markdownify }}
                  </p>
                  {{ if $headertextmore }}
                  <p class="mt-6 text-sm md:text-xl">{{ $headertextmore | markdownify }}{{ end }}</p>
                  {{ end }}

                  {{ if .Params.headeractions }}
                  <div class="mt-8 lg:mt-12">
                    {{ range .Params.headeractions }}
                    <a href="{{ .link }}"
                      class="text-xs md:text-md lg:text-lg font-semibold rounded-lg px-5 lg:px-12 py-3 lg:py-5 bg-[#192E5B] hover:bg-[#72A3C0] uppercase mr-3">{{
                      .action }}
                    </a>
                    {{ end }}
                  </div>
                  {{ end }}
              </div>
          </div>
        </div>
    </div>
</div>
{{ else }}
<div class=" bg-wave-pattern bg-right-center min-h-[480px] w-full">
    <div class="bg-hero-pattern bg-[length:882.5px_480px] bg-right-center bg-no-repeat min-h-[480px] w-full">

        {{ partial "site-nav.html" . }}

        <div class="relative max-w-7xl mx-auto flex items-center justify-between text-white px-4 sm:px-6">
            <div class="lg:w-2/3 text-3x">
                <div class="flex items-center mt-10 md:mt-40">
                    {{ with .Params.headertext }}
                    <h3 class="font-bold text-3xl md:text-5xl">{{ . }}</h3>
                    {{ end }}
                    {{ if not .Params.headertext }}
                    <h3 class="font-bold text-3xl lg:text-5xl">{{ .Title }}</h3>
                    {{ end }}
                    {{ if not .Params.noicon }}
                    <img src="../img/butterfly.png" class="h-8 lg:h-12 ml-2 lg:ml-3 w-8 lg:w-12" />
                    {{ end }}
                </div>
                {{ if .Params.subheadertext }}
                {{ with .Params.subheadertext }}
                <p class="hidden sm:block text-2xl lg:text-4xl mt-1 lg:mt-2 font-extralight">{{ . }}</p>
                {{ end }}
                {{ end }}
                {{ if .Params.moresubheadertext }}
                {{ with .Params.moresubheadertext }}
                <p class="hidden sm:block text-2xl lg:text-4xl mt-1 lg:mt-2 font-extralight">{{ . }}</p>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{end}}