
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ with .Params.Image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}
{{ with .Params.Title }}
 <meta property="og:title" content="{{ . }}" />
{{ end }}
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}" />
{{ with site.Params.author }}
	<meta name="author" content="{{ . }}">
{{ end }}

<base href="{{ .Site.BaseURL }}">
<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>

{{ "<!--Favicon-->" | safeHTML }}
<link rel="shortcut icon" href="{{ `img/favicon.png` | absURL }}" type="image/x-icon">
<link rel="icon" href="{{ `img/favicon.png` | absURL }}" type="image/x-icon">

{{ "<!-- plugins -->" | safeHTML }}
{{ range site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .link | absURL }}">
{{ end }}

{{ "<!-- fonts -->" | safeHTML }}
<link href="{{.Site.Params.googleFonts}}" rel="stylesheet">

{{ "<!-- styles -->" | safeHTML }}

{{"<!-- Main Stylesheet -->"|safeHTML}}
<link rel="stylesheet" href="{{ `output.css` | absURL }}" media="screen">

{{ if .Site.Params.googleAnalytics }}
{{ "<!-- Google Analytics -->" | safeHTML }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalytics }}');
</script>
{{ end }}
<!--
<script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<!-- <script type="text/javascript">
  var onloadCallback = function () {
    grecaptcha.enterprise.render('g-recaptcha', {
      'sitekey': '{{ .Site.Params.g_recaptcha_key }}',
    });
  };
</script> -->
<script src="https://www.google.com/recaptcha/enterprise.js?render={{ .Site.Params.recaptchaKey }}"></script>
<script>
  grecaptcha.enterprise.ready(function() {
    grecaptcha.enterprise.execute('{{.Site.Params.g_recaptcha_key}}', {action: 'homepage'}).then(function(token) {
      // Add your logic to submit to your backend server here.
    });
  });

</script>

<script>
  let gaID = "{{ .Site.Params.googleAnalytics }}";
  let reKey = "{{ .Site.Params.recaptchaKey }}";

  const logenv = () => {
    console.log(gaID, reKey);
    return (gaID != "" && reKey != "");
  }
</script>
