{{ $data := index site.Data site.Language.Lang }}

{{ if $data.tech.tech.enable }}
    {{ with $data.tech.tech }}
    <section class="py-9">
        <div>
            <h5 class="font-bold text-[#757575]">{{ .subtitle }}</h5>
            <h3 class="py-2 text-2xl md:text-4xl font-extrabold">{{ with .title }} {{ . }} {{ end }}</h3>
          </div>
        
        <div class="pt-14 pb-9">
            <ul class="grid grid-cols-2 md:grid-cols-7 gap-10 mx-auto">
                {{ range .tech_item}}
                    <li class="text-center">
                        <img src="{{ .image }}" alt="{{ .name }}" class="h-24 mx-auto">
                        <p class="text-lg font-bold">{{ .name }}</p>
                    </li>
                {{ end }}
            </ul>
        </div>
    </section>
    {{ end }}
{{ end }}