{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <div class="relative grid md:grid-cols-2 gap-8 md:gap-16 max-w-7xl w-full mx-auto py-14 px-4 sm:px-6">
      {{ $data := index site.Data site.Language.Lang }}

      {{ if $data.endeavor.endeavor.enable }}
      {{ with $data.endeavor.endeavor }}
      <section class="md:text-lg">
        <div>
          <span class="uppercase font-bold text-[#757575]">{{ .subtitle }}</span>
          <h2 class="py-2 text-2xl md:text-4xl font-extrabold uppercase">{{ .title }}</h2>
          <p class="py-4">{{ .description | safeHTML }}</p>
  
          {{ with .valueprop }}
          <div class="py-2">
            <h3 class="font-bold">{{ .title }}</h3>
            <p>{{ .description }}</p>
          </div>
          {{ end }}
        </div>

        {{ with .keybenefits }}
        <div class="py-2">
          <h3 class="font-bold">{{ .title }}</h3>
          <ul class="py-2 list-disc list-outside">
           {{ range .benefits }}
            <li class="py-1 ml-5">{{ .benefit | safeHTML }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </div>

      </section>

      <section class="md:mt-24 md:text-lg">
        {{ with .form }}
        <div class="mx-auto">
          <h3 class="text-2xl text-center text-balance font-bold pb-2">{{ .title }}</h3>
          <p class="my-2 text-center text-pretty">{{ .description }}</p>
          <div id="endeavorConfirmation" class="hidden my-4">
            <p class="text-base text-[#192E5B] font-semibold">{{ site.Params.endeavorFormSuccessMessage }}</p>
          </div>
          <div id="endeavorError" class="hidden my-4">
            <p class="text-base text-red-800 font-semibold">{{ site.Params.contactFormErrorMessage }}</p>
          </div>
          <input type="hidden" id="formID" name="formID" value="{{ .id }}" />
          <form action="endeavor" method="post" id="endeavorForm">
            <div class="flex flex-col">
              <div class="grid grid-cols-2 gap-4 my-2">
                <div>
                  <label for="first_name" class="hidden sr-only">First Name</label>
                  <input required type="text" id="first_name" name="first_name" placeholder="First Name*" autocomplete="given-name" class="input-style">
                </div>
                <div>
                  <label for="last_name" class="hidden sr-only">Last Name</label>
                  <input required type="text" id="last_name" name="last_name" placeholder="Last Name*" autocomplete="family-name" class="input-style">
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 my-2">
                <div>
                  <label for="organization" class="hidden sr-only">Organization Name</label>
                  <input required type="text" id="organization" name="organization" placeholder="Organization*" autocomplete="organization" class="input-style">
                </div>
                <div>
                  <label for="phone" class="hidden sr-only">Phone Number</label>
                  <input type="tel" id="phone" name="phone" placeholder="Phone (optional)" autocomplete="tel" class="input-style">
                </div>
              </div>
              <div class="my-2">
                <label for="email" class="hidden sr-only">Business Email Address</label>
                <input required type="email" id="email" name="email" placeholder="Business email*" autocomplete="email" class="input-style">
              </div>
              <div class="my-2">
                <label for="message" class="hidden sr-only">Message</label>
                <textarea id="message" name="message" placeholder="Tell us about your use case or opportunity. (optional)" class="input-style"></textarea>
              </div>
              <div class="flex gap-x-2">
                <input required type="checkbox" id="consent" name='consent' class="mt-1 md:mt-1.5 block w-4 h-4 border-0">
                <label for="consent" id="consentText">
                  <span class="text-base">{{ .consentText | safeHTML }}</span>
                </label>
              </div>
              <div class="py-4">
                <button type="submit" class="mt-2 md:mt-0 uppercase w-full bg-[#1D65A6] hover:bg-[#192E5B] p-3 font-bold text-white text-center">{{ .buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
        {{ end }}

        <div class="py-8">
          <img src="{{ .previewimage }}" alt="" class="mx-auto" />
        </div>

      </section>
    </div>


{{ end }}
{{ end }}
{{ end }}

{{ define "appcode" }}
<script src="{{ `js/endeavor.js` | absURL }}"></script>
{{ end }}