{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "extrahead" }}
  <meta http-equiv="refresh" content="0; url=https://rotational.ai" />
{{ end }}

{{ define "main" }}
  <section class="md:text-lg px-auto py-auto mx-auto mt-16 mb-16 max-w-4xl text-center">
    <h1>This page has moved to <a href="https://rotational.ai">https://rotational.ai</a></h1>
  </section>
{{ end }}

{{ define "appcode" }}
<script type="module" src="{{ `js/endeavor.js` | absURL }}"></script>
{{ end }}