{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
<div class="max-w-7xl mx-auto px-4 relative">
    <div class="">
        <div class="text-center mt-9 sm:mt-11 lg:mt-14">
            <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl">
                <b class="text-[#1D65A6]">{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}</b>
                {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
            </h3>
        </div>
        <p class="mt-4 text-base mx-auto text-center sm:mt-5 lg:mt-7 lg:text-lg max-w-2xl">
            {{ .subtitle}}
        </p>
        <div class="md:flex mt-10 font-normal">
            {{ if $data.contact.contact.contact_form.enable }}
            {{ with $data.contact.contact.contact_form }}
            <div class="bg-[#ECF6FF] w-full p-14 rounded-xl md:rounded-l-xl">
                <h5 class="text-xl font-bold">
                    <b class="text-[#1D65A6]">{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}</b>
                    {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
                </h5>
                <div class="mt-4">
                    <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md hidden"
                        id='contact-alert' role="alert">
                        <div class="flex">

                            <div>
                                <p class="font-bold">{{site.Params.contactFormSuccessTitle}} </p>
                                <p class="text-sm">{{site.Params.contactFormSuccessMessage}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Missing field</strong>
                        <span class="block sm:inline"></span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                            <svg class="fill-current h-6 w-6 text-red-500" role="button"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path
                                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                            </svg>
                        </span>
                    </div> -->
                    <form action="contact" method="post" id="contactForm">
                        <div class="md:flex">
                            <input type="text" name='first_name' placeholder="{{ .firstname }}"
                                class="px-7 py-4 mt-6 mr-8 rounded-lg w-full basis-1/2 border-red-500">
                            <input type="text" name='last_name' placeholder="{{ .lastname }}"
                                class="px-7 py-4 mt-6 rounded-lg w-full basis-1/2">
                        </div>
                        <div class="md:flex">
                            <input type="email" name='email' placeholder="{{ .email }}"
                                class="px-7 py-4 mt-6 mr-8 rounded-lg w-full basis-1/2">
                            <input type="phone" name='phone' placeholder="{{ .phone_number }}"
                                class="px-7 py-4 mt-6 rounded-lg w-full basis-1/2">
                        </div>
                        <textarea name="message" id="" cols="30" rows="6"
                            class="px-7 py-4 mt-6 rounded-lg text-gray-500 w-full">Message</textarea>
                        <div class="flex mt-4 items-center">
                            <input type="checkbox" id="checkbox" name='subscribe' class="w-4 h-4 border-0 ">
                            <label for="checkbox"><span class="ml-2">{{ .subscribe_to_email }}</span></label>
                        </div>
                        <div class="md:flex items-center justify-between mt-6 text-center md:mt-7 lg:mt-8">
                            <div class="g-recaptcha" data-sitekey="{{site.Params.g_recaptcha_key}}"></div>
                            <button type="submit" class="flex mt-6 bg-[#1D65A6] text-white px-7 py-4 rounded-lg ">{{
                                .submit }}</button>
                        </div>



                    </form>
                </div>
            </div>
            {{ end }}
            {{ end }}

            {{ if $data.contact.contact.contact_details.enable }}
            {{ with $data.contact.contact.contact_details }}
            <div
                class="text-white bg-[#1D65A6] md:max-w-md mt-10 md:mb-0 md:mt-0 mb-6 p-14 md:relative -left-2  rounded-xl">
                <h5 class="text-xl font-bold">{{ .title }}</h5>
                <p class="mt-6">{{ .subtitle }}</p>
                <ul>
                    {{ range .details_item }}
                    <li class="flex mt-14">
                        <img src="{{ .image }}" alt="{{ .info }}">
                        <span class="ml-6">{{ .info }}</span>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}