{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
<div class="max-w-7xl mx-auto px-4 relative">
    <div class="">
        <div class="md:w-1/2 lg:w-2/3">
            <div class="text-center mt-9 sm:mt-11 lg:mt-14">
                <h3 class="font-bold text-xl sm:text-2xl lg:text-3xl">
                    <b class="text-[#1D65A6]">{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}</b>
                    {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
                </h3>
            </div>
            <p class="mt-4 text-base mx-auto text-center text-balance sm:mt-5 lg:mt-7 lg:text-lg max-w-2xl">
                {{ .subtitle}}
            </p>
        </div>
        <div class="md:flex mt-10 font-normal">
            {{ if $data.contact.contact.contact_form.enable }}
            {{ with $data.contact.contact.contact_form }}
            <div class="bg-[#1D65A6] w-full p-14 rounded-xl md:rounded-l-xl">
                <h5 class="lg:ml-6 text-xl text-white font-bold">
                    {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
                    {{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}
                </h5>
                <div class="mt-4 lg:ml-6">
                    <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md hidden"
                        id='contact-alert' role="alert">
                        <div class="flex">

                            <div>
                                <p class="font-bold">{{site.Params.contactFormSuccessTitle}} </p>
                                <p class="text-sm">{{site.Params.contactFormSuccessMessage}}</p>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="formID" value="e1bf5b24-ab7f-49f1-bcdc-bb389b28bec5">
                    <form action="contact" method="post" id="contactForm">
                        <div class="lg:flex lg:gap-x-6">
                            <label for="first_name" class="hidden">First Name</label>
                            <input type="text" name='first_name' id="first_name" required placeholder="{{ .firstname }}" class="input-sl">
                            <label for="last_name" class="hidden">Last Name</label>
                            <input type="text" name='last_name' id="last_name" required placeholder="{{ .lastname }}" class="input-sl">
                        </div>
                        <div class="lg:flex lg:gap-x-6">
                            <label for="email" class="hidden">Email</label>
                            <input type="email" name='email' id="email" required placeholder="{{ .email }}" class="input-sl">
                            <label for="phone" class="hidden">Phone Number</label>
                            <input type="tel" name='phone' id="phone" placeholder="{{ .phone_number }}" class="input-sl">
                        </div>
                        <div>
                            <label for="organization" class="hidden">Organization</label>
                            <input type="text" name='organization' id="organization" required placeholder="{{ .organization }}" class="input-sl">
                        </div>
                        <label for="message" class="hidden">Message</label>
                        <textarea name="message" required placeholder="{{ .message }}" id="message" cols="30" rows="4"
                            class="input-sl"></textarea>
                        <div class="flex mt-4 items-base">
                            <input type="checkbox" id="checkbox" required name="consent" class="w-4 h-4 mt-1 border-0">
                            <label for="checkbox"><span class="ml-2 text-white" id="consentText">{{ .subscribe_consent_text }}</span></label>
                        </div>
                        <div class="md:flex items-center justify-between mt-6 text-center md:mt-7 lg:mt-8">
                            <button id="contact-bttn" type="submit" data-sitekey="{{ .Site.Params.recaptchaKey }}" data-action="contact" class="flex mr-9 bg-white mt-6 px-7 py-4 rounded-lg hover:bg-white/90">{{.submit }}</button>
                        </div>

                    </form>
                </div>
            </div>
            {{ end }}
            {{ end }}

            {{ if $data.contact.contact.contact_details.enable }}
            {{ with $data.contact.contact.contact_details }}
            <div class="md:max-w-sm mt-10 md:mb-0 md:mt-0 mb-6 p-14   rounded-xl">
                <h5 class="text-xl font-bold">{{ .title }}</h5>
                <p class="mt-6">{{ .subtitle }}</p>
                <ul>
                    {{ range .details_item }}
                    <li class="flex mt-14 ">
                        <img src="{{ .image }}" alt="{{ .info }}" class="bg-[#1D65A6] p-4 rounded-lg mr-4">
                        <a href="{{ .link }}" target="_blank" class="ml-6 md:text-sm mt-4">{{ .info }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}

{{ define "appcode" }}
<script src="{{ `js/contact.js` | absURL }}"></script>
{{ end }}