{{ $data := index site.Data site.Language.Lang }}

{{ if $data.clients.clients.enable }}
{{ with $data.clients.clients }}
<section>
  <div class="max-w-7xl w-full py-14 mx-auto px-4 sm:px-6">
    {{ if .show_title }}
    <h2 class="font-bold text-2xl sm:text-4xl text-center mb-10">
      <span>
          {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
          <span class="text-[#1D65A6]">{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span>
      </span>
    </h2>
    {{ end }}
    <ul class="flex flex-col md:flex-row md:flex-wrap items-center lg:justify-between gap-12 md:gap-8">
      {{ range .clients_item}}
      {{ if .show }}
      <li>
        <img loading="lazy" class="max-w-[180px]" src="{{ .image | absURL }}" alt="{{ .name }}">
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
{{ end }}