{{ $data := index site.Data site.Language.Lang }}

{{ if $data.clients.clients.enable }}
{{ with $data.clients.clients }}
<section>
  <div class="max-w-7xl w-full py-14 mx-auto px-4 sm:px-6">
    {{ if .show_title }}
    <h2 class="font-bold text-2xl sm:text-4xl text-center mb-10">
      <span>
          {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
          <span class="text-[#1D65A6]">{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span>
      </span>
    </h2>
    {{ end }}
    <div class="embla overflow-hidden" data-loop="true" data-scroll="1">
      <div class="embla__viewport overflow-hidden">
          <ul class="embla__container flex items-center touch-pinch-zoom">
            {{ range .clients_item}}
            {{ if .show }}
            {{"<!-- Set flex basis to determine the number of slides/logos that will appear. -->" | safeHTML}}
            <li class="embla__slide flex-[0_0_50%] md:flex-[0_0_33%] lg:flex-[0_0_20%]">
              <figure class="flex justify-center items-center grayscale hover:grayscale-0">
                <img class="w-28 h-auto max-h-14 object-contain" loading="lazy" src="{{ .image | absURL }}" alt="{{ .name }}" title="{{ .name }}">
              </figure>
            </li>
            {{ end }}
            {{ end }}
          </ul>
      </div>
      <div class="flex justify-between lg:justify-center gap-x-8 items-center mt-4 p-2 sm:p-6">
        <button type="button" class="embla__prev h-9 w-9 rounded-full bg-[#2F4858] hover:bg-[#2F4858]/80">
          <span class="sr-only">Previous</span>
          <i class="fa-solid fa-chevron-left mt-1.5 text-white" title="Previous"></i>
        </button>
        <button type="button" class="embla__next h-9 w-9 rounded-full bg-[#2F4858] hover:bg-[#2F4858]/80">
          <span class="sr-only">Next</span>
          <i class="fa-solid fa-chevron-right mt-1.5 text-white" title="Next"></i>
        </button>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}