{{ $data := index site.Data site.Language.Lang }}

{{ if $data.ensign.competition.enable }}
{{ with $data.ensign.competition }}
<section id="competitive-landscape" class="text-base text-xl pb-10">
  <table class="table-auto border-collapse border border-slate-600 w-full text-md">
    <thead>
      <!-- TODO: not sure how to extract categories from the data yet -->
      <tr class="bg-[#1D65A6]">
        <th></th>
        <th></th>
        <th colspan="4" class="border bg-[#1D65A6] border-slate-600 px-4 py-3 text-white">Eventing Tools</th>
        <th colspan="3" class="border bg-[#1D65A6] border-slate-600 px-4 py-3 text-white">Databases</th>
      </tr>
      <tr class="bg-[#1D65A6]">
        <th class="text-left border bg-[#1D65A6] border-slate-600 p-4 pl-8 py-3 text-white">Feature</th>
        {{ range .projects }}
        <th class="text-center border bg-[#1D65A6] border-slate-600 px-3 py-3 text-white">
        {{ .name }}{{ if .company }}<br />
        <span class="text-white text-sm">({{ .company }})</span>{{ end }}
        </th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ $projects := .projects }}
      {{ range .features }}
      <tr class="bg-white">
        <td class="text-left px-2 py-2 border border-slate-600 text-base leading-3">
          <span class="leading-normal">{{ .title | markdownify }}</span><br />
          <span class="text-sm">{{ .subtitle }}</span>
        </td>
        {{ $id := .id }}
        {{ range $projects }}
        <td class="text-center text-[#00743f] px-2 py-2 border border-slate-600">{{ if (index .features $id) }}✔{{ end }}</td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</section>
{{ end }}
{{ end }}