<section class="ml-10">
    <table class="table-auto border border-collapse border-slate-600 text-md mt-2 overflow-x-auto">
        <thead class="bg-[#1D65A6] text-white text-left">
            <tr>
                <th class="finnhub-showcase">Creator</th>
                <th class="finnhub-showcase">Description</th>
                <th class="finnhub-showcase">Event Data</th>
                <th class="finnhub-showcase">URL</th>
                <th class="finnhub-showcase">GitHub</th>
                <th class="finnhub-showcase">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="finnhub-showcase">Prema Roman & Patrick Deziel</td>
                <td class="finnhub-showcase">Stock ticker</td>
                <td class="finnhub-showcase">Stock prices</td>
                <td class="finnhub-showcase underline"><a href="https://trades.rotational.dev/" target="_blank">https://trades.rotational.dev/</a></td>
                <td class="finnhub-showcase underline"><a href="https://github.com/rotationalio/pypredict" target="_blank">https://github.com/rotationalio/pypredict</a></td>
                <td class="finnhub-showcase">16-June-2023</td>
            </tr>
        </tbody>
    </table>
</section>