{{- with .Inner }}{{ end -}}
{{- $groupId := .Get "id" | default "default" -}}
<div class="tab-container min-h-full max-w-md">
    <div class="tab-nav flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 ">
        {{- range $idx, $tab := .Scratch.Get "tabs" -}}
        <button onclick="switchTab('{{ $groupId }}','{{ .name }}')" data-tab-item="{{ .name }}"
            data-tab-group="{{ $groupId }}"
            class='tab-button {{ cond (eq $idx 0) "active" "" }} inline-block p-4 bg-gray-100 [&.active]:bg-[#192E5B] [&.active]:text-white rounded-t-lg'>{{
            .name }}</button>
        {{- end -}}
    </div>
    <div class="tab-content -mt-0">
        <button id="copy-code-button"
            class="copy-code-button absolute text-white text-xs right-[3.5rem] bg-red-500 p-1 hover:text-red-700 [&.active]:bg-green-600 mt-[0.75rem] mr-[0.75rem]">
            Copy
        </button>

        {{- range $idx, $tab := .Scratch.Get "tabs" -}}
        <div data-tab-item="{{ .name }}" data-tab-group="{{ $groupId }}"
            class='tab-item {{ cond (eq $idx 0) "active" "" }}'>
            {{ .content }}
        </div>
        {{- end -}}
    </div>

</div>