{{ $data := index site.Data site.Language.Lang }}

{{ if $data.deliveryteam.deliveryteam.enable }}
{{ with $data.deliveryteam.deliveryteam }}
<section class="max-w-7xl w-full mx-auto my-12 px-4 sm:px-6 md:mt-72 lg:mt-64 xl:mt-36 grid lg:grid-cols-2 items-center gap-12 md:gap-32">
  <section class="mx-auto">
    <!-- TODO: Change image and check repositioning as screen size adjusts-->
    <img src="img/ensign_enterprise.png" />
  </section>
  <section class="mx-auto">
    <h5 class="py-2 text-sm font-bold text-[#757575]">{{ .tagline }}</h5>
    <h2 class="py-2 text-4xl font-bold">{{ .title }} </h2>
    <div class="py-2 *:py-1">{{ .description | markdownify }}</div>
    <ul class="py-2 flex justify-between w-full">
      {{ range .expertise }}
      <div class="">
        <li class="py-2 text-xl lg:text-3xl font-extrabold text-[#757575]">{{ .experience }}</li>
        <li class="font-bold text-sm md:text-base">{{ .text | markdownify }}</li>
      </div>
      {{ end }}
    </ul>
  </section>
</section>
{{ end }}
{{ end }}