{{ $data := index site.Data site.Language.Lang }}

{{ if $data.process.process.enable }}
{{ with $data.process.process }}

<section class="max-w-7xl mx-auto my-12">
  <h5 class="py-2 text-sm font-semibold text-gray-700">{{ .tagline }}</h5>
  <h2 class="py-2 text-2xl font-bold">{{ .title }} </h2>
  <section class="grid grid-cols-3 gap-8">
    {{ range .processes }}
    <div class="my-4 border p-6 {{ .background_style }}">
      <i class="{{ .icon }} text-2xl"></i>
      <h4 class="py-4 text-xl font-semibold">{{ .title }}</h4>
      <p class="py-4 max-w-sm">{{ .description }}</p>
    </div>
    {{ end }}
  </section>
</section>

{{ end }}
{{ end }}