{{ $data := index site.Data site.Language.Lang }}

{{ if $data.testimonials.testimonials.enable }}
{{ with $data.testimonials.testimonials }}

<section class="max-w-7xl w-full mx-auto my-12 px-4 grid lg:grid-cols-2 gap-12 lg:gap-24 sm:px-6">
  <section>
    <h5 class="text-[#757575] font-bold">{{ .tagline }}</h5>
    <h2 class="py-2 font-extrabold text-xl sm:text-2xl lg:text-4xl">{{ .title }}</h2>
    <p>{{ .description }}</p>
  </section>
  {{ range .testimonial }}
  <section class="border p-4">
    <p class="text-xl">{{ .quote }}</p>
    <p class="pt-4 text-xl font-extrabold">{{ .quotee }}</p>
    <p class="text-[#757575] font-bold">{{ .client_name }}</p>
  </section>
    {{ end }}
</section>
          
{{ end }}
{{ end }}
