{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.products.products.enable }}
{{ with $data.products.products }}

<div class="max-w-7xl mx-auto px-4 relative">
  <p>{{ .subtitle }}</p>
  {{ range .products }}
  <section>
    <h2>{{ .product_name }}</h2>
    <p>{{ .description }}</p>
    <section class="grid grid-cols-3">
      <img src="{{ .logo }}" />
      <ul>
        {{ range .product_details }}
        <li>{{ .text }}</li>
        {{ end }}
      </ul>
      <ul>
        {{ range .buttons }}
        <li>
          <a href="{{ .link }}" class="">{{ .text }}</a>
          {{ end }}
        </li>
      </ul>
    </section>
  </section>
  {{ end }}
</div>

{{ end }}
{{ end }}
{{ end }}