{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.products.products.enable }}
{{ with $data.products.products }}

<div class="max-w-7xl mx-auto px-4 relative">
  <p class="mt-12 text-lg">{{ .subtitle }}</p>
  {{ range .products }}
  <section class="my-12">
    <h2 class="mb-4 font-bold text-3xl">{{ .product_name }}</h2>
    <p class="mb-4 text-lg">{{ .description }}</p>
    <section class="grid gap-8 mt-8 border-2 rounded lg:grid-cols-3">
      <section class="mt-6 lg:my-6">
        {{ if eq .product_name "Ensign" }}
        <p class="font-bold text-4xl text-center text-[#1D65A6] mb-4">Ensign</p>
        {{ end }}
        <img src="{{ .logo }}" class="h-48 lg:w-8/12 lg:h-auto mx-auto"/>
      </section>
      <section class="lg:my-6 leading-relaxed lg:w-full">
        <ul class="ml-6 lg:ml-0">
          {{ range .product_details }}
          <li class="list-disc leading-relaxed">{{ .text }}</li>
          {{ end }}
        </ul>
      </section>
      <section class="lg:my-6">
        <ul>
          {{ range .buttons }}
          <li class="text-center mb-6">
            <a href="{{ .link }}" target="_blank" class="w-1/2 inline-block bg-[#192E5B] hover:bg-[#1D65A6] p-3 rounded-lg font-bold text-[#FCFCFC]">
              {{ .text }}
            </a>
            {{ end }}
          </li>
        </ul>
      </section>
    </section>
  </section>
  {{ end }}
</div>

{{ end }}
{{ end }}
{{ end }}